body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #5e17eb;
    padding: 1rem;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    margin: 2rem;
}

.exam-section {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.exam-section h1 {
    color: #5e17eb;
}

.exam-section p {
    color: #333;
}

.exam-form {
    display: flex;
    flex-direction: column;
}

.exam-form label {
    margin-top: 1rem;
    font-weight: bold;
}

.exam-form select {
    padding: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.exam-form button {
    margin-top: 2rem;
    padding: 1rem;
    background-color: #5e17eb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.exam-form button:hover {
    background-color: #450ca8;
}
